<a href="https://colab.research.google.com/github/heejininku/class2022spring/blob/main/20220328.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install gradio
import gradio as gr
import requests
import pandas as pd

In [16]:
URL = ('http://apis.data.go.kr/B552061/frequentzoneChild/getRestFrequentzoneChild?'
'ServiceKey=5w%2BfqNl4vGBXtu4GuJGXHVWsHFB4kHGUkFYzA5mH3qBIgVjA1IQk3QI1N3tz%2B%2BMAHiouaGQwlyM%2F9HB98uhZ7A%3D%3D'
'&searchYearCd=2017'
'&siDo=11'
'&guGun=680'
'&type=json'
'&numOfRows=10'
'&pageNo=1')
response = requests.get(URL)

In [25]:
response

#### http://jsonviewer.stack.hu/ (copy json here to view json)

In [ ]:
r = response.json()
r

In [29]:
item = r['items']['item']
item

[{'afos_fid': 6395246,
  'afos_id': '2018028',
  'bjd_cd': '1168011800',
  'caslt_cnt': 3,
  'dth_dnv_cnt': 0,
  'geom_json': '{"type":"Polygon","coordinates":[[[127.03968993,37.48670858],[127.03965541,37.48643046],[127.03955317,37.48616302],[127.03938715,37.48591655],[127.03916371,37.48570051],[127.03889146,37.48552321],[127.03858084,37.48539147],[127.03824381,37.48531034],[127.0378933,37.48528295],[127.0375428,37.48531034],[127.03720576,37.48539147],[127.03689515,37.48552321],[127.03662289,37.48570051],[127.03639946,37.48591655],[127.03623343,37.48616302],[127.0361312,37.48643046],[127.03609667,37.48670858],[127.0361312,37.4869867],[127.03623343,37.48725414],[127.03639946,37.48750061],[127.03662289,37.48771664],[127.03689515,37.48789393],[127.03720576,37.48802567],[127.0375428,37.48810679],[127.0378933,37.48813418],[127.03824381,37.48810679],[127.03858084,37.48802567],[127.03889146,37.48789393],[127.03916371,37.48771664],[127.03938715,37.48750061],[127.03955317,37.48725414],[127.03965541,37.4869867],[127.03968993,37.48670858]]]}',
  'la_crd': '37.486708581137',
  'lo_crd': '127.037893303934',
  'occrrnc_cnt': 3,
  'se_dnv_cnt': 1,
  'sido_sgg_nm': '서울특별시 강남구1',
  'sl_dnv_cnt': 2,
  'spot_cd': '11680001',
  'spot_nm': '서울특별시 강남구 도곡동(언주초교 부근)',
  'wnd_dnv_cnt': 0},
 {'afos_fid': 6395311,
  'afos_id': '2018028',
  'bjd_cd': '1168010100',
  'caslt_cnt': 4,
  'dth_dnv_cnt': 0,
  'geom_json': '{"type":"Polygon","coordinates":[[[127.04777175,37.49646954],[127.04773723,37.49619145],[127.04763499,37.49592405],[127.04746897,37.49567761],[127.04724553,37.4954616],[127.04697328,37.49528433],[127.04666266,37.4951526],[127.04632563,37.49507148],[127.04597512,37.49504409],[127.04562462,37.49507148],[127.04528758,37.4951526],[127.04497697,37.49528433],[127.04470471,37.4954616],[127.04448128,37.49567761],[127.04431525,37.49592405],[127.04421301,37.49619145],[127.04417849,37.49646954],[127.04421301,37.49674763],[127.04431525,37.49701502],[127.04448128,37.49726146],[127.04470471,37.49747746],[127.04497697,37.49765473],[127.04528758,37.49778645],[127.04562462,37.49786757],[127.04597512,37.49789496],[127.04632563,37.49786757],[127.04666266,37.49778645],[127.04697328,37.49765473],[127.04724553,37.49747746],[127.04746897,37.49726146],[127.04763499,37.49701502],[127.04773723,37.49674763],[127.04777175,37.49646954]]]}',
  'la_crd': '37.496469538439',
  'lo_crd': '127.045975123554',
  'occrrnc_cnt': 3,
  'se_dnv_cnt': 0,
  'sido_sgg_nm': '서울특별시 강남구2',
  'sl_dnv_cnt': 4,
  'spot_cd': '11680002',
  'spot_nm': '서울특별시 강남구 역삼동(상지리츠빌1차 부근)',
  'wnd_dnv_cnt': 0}]

In [32]:
import pandas as pd
item = r['items']['item']

bjd_cd = [it['bjd_cd'] for it in item]
sido_sgg_nm = [it['sido_sgg_nm'] for it in item]
spot_nm = [it['spot_nm'] for it in item]
occrrnc_cnt = [it['occrrnc_cnt'] for it in item]
caslt_cnt= [it['caslt_cnt'] for it in item]

bjd_cd = pd.Series(bjd_cd)
sido_sgg_nm = pd.Series(sido_sgg_nm)   
spot_nm = pd.Series(spot_nm)
occrrnc_cnt = pd.Series(occrrnc_cnt)
caslt_cnt = pd.Series(caslt_cnt)

df = pd.DataFrame({ 'bjd_cd': bjd_cd, 'sido_sgg_nm': sido_sgg_nm, 'spot_nm': spot_nm, 'occrrnc_cnt': occrrnc_cnt, 'caslt_cnt': caslt_cnt})

In [67]:
def test(siDo):
  URL = ('http://apis.data.go.kr/B552061/frequentzoneChild/getRestFrequentzoneChild?'
       'ServiceKey=5w%2BfqNl4vGBXtu4GuJGXHVWsHFB4kHGUkFYzA5mH3qBIgVjA1IQk3QI1N3tz%2B%2BMAHiouaGQwlyM%2F9HB98uhZ7A%3D%3D'
       '&searchYearCd=2017'
       '&siDo='+siDo+
       '&guGun= 680'
       '&type=json'
       '&numOfRows=10'
       '&pageNo=1')

  response = requests.get(URL)
  r = response.json()
  item = r['items']['item']

  bjd_cd = [it['bjd_cd'] for it in item]
  sido_sgg_nm = [it['sido_sgg_nm'] for it in item]
  spot_nm = [it['spot_nm'] for it in item]
  occrrnc_cnt = [it['occrrnc_cnt'] for it in item]
  caslt_cnt= [it['caslt_cnt'] for it in item]

  bjd_cd = pd.Series(bjd_cd)
  sido_sgg_nm = pd.Series(sido_sgg_nm)   
  spot_nm = pd.Series(spot_nm)
  occrrnc_cnt = pd.Series(occrrnc_cnt)
  caslt_cnt = pd.Series(caslt_cnt)

  df = pd.DataFrame({ 'bjd_cd': bjd_cd,'sido_sgg_nm': sido_sgg_nm,'spot_nm': spot_nm,'occrrnc_cnt': occrrnc_cnt,'caslt_cnt': caslt_cnt})
  return df

In [68]:
df

       bjd_cd sido_sgg_nm                    spot_nm  occrrnc_cnt  caslt_cnt
0  1168011800  서울특별시 강남구1     서울특별시 강남구 도곡동(언주초교 부근)            3          3
1  1168010100  서울특별시 강남구2  서울특별시 강남구 역삼동(상지리츠빌1차 부근)            3          4

In [ ]:
iface = gr.Interface(test, gr.inputs.Dropdown(['서울', '부산', '대구', '대전', '광주', '울산', '인천']), outputs=['dataframe'])
iface.launch(debug=True)

Colab notebook detected. This cell will run indefinitely so that you can see errors and logs. To turn off, set debug=False in launch().
Running on public URL: https://35757.gradio.app

This share link expires in 72 hours. For free permanent hosting, check out Spaces (https://huggingface.co/spaces)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:21: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:22: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:23: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:24: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:25: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.